/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-game-review-review-box {

	padding: 1em;

	input.components-text-control__input[type="text"],
	textarea {
		font-size: 18px;
	}

	.dashicons {
		width: 26px;
		height: 26px;
		font-size: 26px;
	}

	.notice {
		margin: 0;
	}

	.status_saved {
		background: #bbdec2;
		border: 1px solid #07cd89;
	}

	.text {
		padding: 2px;
	}

	.components-placeholder {
		display: none;
	}
}
