/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-random-game {
	border: 1px solid rgb(225, 239, 250);
	background: rgb(238, 245, 250);
	padding: 1em;

}

